Repository thijsputman/sysmon-mqtt: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint-other

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        # s6-overlay's scripts shouldn't be executable
        exclude: |
          (?x)(
            rootfs/etc/(
              cont-init\.d|
              services\.d|
              s6-overlay/s6-rc\.d
            )
          )
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: (\.nnb|^\.HA_VERSION)$
      - id: forbid-submodules
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx --yes prettier --check --ignore-unknown
        language: system
        types: [text]
      - id: markdownlint
        name: markdownlint
        entry: npx --yes markdownlint-cli
        language: system
        types: [file]
        files: (?i)(\.md|(^|/)(TODO|NOTES))$
      - id: yamllint-other
        name: yamllint
        entry: yamllint -s
        language: system
        types: [yaml]
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck --wiki-link-count=0
        language: system
        types: [shell]
      - id: shfmt
        name: shfmt
        entry: shfmt -l -d
        language: system
        types: [shell]
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        types: [dockerfile]
      - id: tdg
        name: TODO get
        entry: .github/scripts/tdg-pre-commit.sh
        language: system
        types: [text]

Clarify Home Assistant compatibility
  README.md
Due: markdownlint

Fix `intel_gpu_top` under systemd
  README.md
  install.sh
Due: markdownlint

Make fan speed (much) more explicit
  README.md
  sysmon.sh
Due: markdownlint

Intel N100 documentation
  README.md
Due: markdownlint

The little steam engine that could...
  install.sh
  sysmon.sh
Due: none

Implement Copilot review comments: sanitization, array expansion, and minor fixes (#10)
  README.md
  install.sh
  sysmon.sh
Due: markdownlint

Smarter thermal_zone detection
  README.md
  sysmon.sh
Due: markdownlint

Slightly enhance the setup-script
  README.md
  install.sh
  sysmon.sh
Due: markdownlint

Minor correction
  README.md
Due: markdownlint

Also disable if `intel_gpu_top` is not found... 🤐
  sysmon.sh
Due: none

Minor tweaks
  README.md
  install.sh
Due: markdownlint

Fix thermal-zone logic
  sysmon.sh
Due: none

Fixes for Bash 5.0
  install.sh
  sysmon.sh
Due: none

Slight clean-up in the unit-file generation
  install.sh
Due: none

Final tweaks
  README.md
  sysmon.sh
Due: markdownlint

Update README.md and install script for version 1.4.0 (#9)
  README.md
  install.sh
  sysmon.sh
Due: markdownlint

More generic fan speed support
  README.md
  sysmon.sh
Due: markdownlint

Stop using `sudo -E`
  README.md
  install.sh
Due: markdownlint

Add RPi5 power consumption (approximation)
  sysmon.sh
Due: none

Apply (sensible part of) Copilot's suggestions
  sysmon.sh
Due: none

Handle lack of `sudo` better
  README.md
  install.sh
Due: markdownlint

Final tweaks
  README.md
  install.sh
Due: markdownlint

More generic fan speed support (#11)
  README.md
  install.sh
  sysmon.sh
Due: markdownlint

Update README.md
  README.md
Due: markdownlint

Add RPi5 power consumption (approximation) (#12)
  README.md
  sysmon.sh
Due: markdownlint

Remove Docker-support
  .dockerignore
  .github/scripts/bins.d/hadolint
  .github/scripts/setup-pre-commit.sh
  .github/workflows/docker.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  README.md
  rootfs/usr/local/bin/sysmon
  sysmon.sh
Due: markdownlint, yamllint-other

Small documentation tweak
  README.md
Due: markdownlint

Pre-commit, linter & GitHub workflow tweaks
  .actrc
  .codespell-ignore
  .codespellrc
  .editorconfig
  .github/scripts/bins.d/shellcheck
  .github/scripts/bins.d/tdg
  .github/scripts/setup-pre-commit.sh
  .github/workflows/linter.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .prettierignore
  .yamllint.yaml
  HISTORY.md
  README.md
  sysmon.sh
Due: markdownlint, yamllint-other

Almost the correct Go-version...
  .github/workflows/linter.yml
Due: yamllint-other

Remove unnecessary quotes
  .github/workflows/linter.yml
Due: yamllint-other

Good find by the robot...
  .github/workflows/release.yml
Due: yamllint-other

While I'm at it...
  .github/workflows/release.yml
Due: yamllint-other

Bump version to `1.5.0`
  sysmon.sh
Due: none

Remove Docker-support (#13)
  .actrc
  .codespell-ignore
  .codespellrc
  .dockerignore
  .editorconfig
  .github/scripts/bins.d/hadolint
  .github/scripts/bins.d/shellcheck
  .github/scripts/bins.d/tdg
  .github/scripts/setup-pre-commit.sh
  .github/workflows/docker.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .yamllint.yaml
  Dockerfile
  HISTORY.md
  README.md
  rootfs/usr/local/bin/sysmon
  sysmon.sh
Due: markdownlint, yamllint-other

Trivial correction
  .github/workflows/linter.yml
Due: yamllint-other

Minor corrections to README.md
  README.md
Due: markdownlint

Add DVB-T ("femon") metrics
  sysmon.sh
Due: none
