Repository thijsputman/sysmon-mqtt: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint-other

markdownlint:
  name: markdownlint
  entry: npx --yes markdownlint-cli
  language: system

yamllint-other:
  name: yamllint
  entry: yamllint -s
  language: system

Fork off all calls to "sleep"
  sysmon.sh
Due: none

Return single match from /proc/cpuinfo
  sysmon.sh
Due: none

Temporary addition to "Build and push"-workflow
  .github/workflows/docker.yml
Due: yamllint-other

Make daemon log-file configurable
  sysmon.sh
Due: none

Add nektos/act configuration
  .actrc
  .gitignore
Due: none

Update README.md
  README.md
Due: markdownlint

Add preliminary support for DD-WRT et al. (#2)
  .actrc
  .github/workflows/docker.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  sysmon.sh
Due: markdownlint, yamllint-other

Fix caching for the "Run pre-commit" workflow
  .github/workflows/linter.yml
Due: yamllint-other

Fix caching in the linter-workflow
  .github/workflows/linter.yml
Due: yamllint-other

Automatically publish Docker-containers
  .github/workflows/docker.yml
Due: yamllint-other

Minor tweaks
  .editorconfig
  .github/scripts/bins.d/.editorconfig
  .gitignore
  README.md
Due: markdownlint

Add a simple release-workflow
  .github/workflows/docker.yml
  .github/workflows/linter.yml
  .github/workflows/release.yml
Due: yamllint-other

Not as straightforward as hoped...
  .github/workflows/docker.yml
Due: yamllint-other

Add missing permissions
  .github/workflows/release.yml
Due: yamllint-other

Use gawk instead of tr to lowercase input
  sysmon.sh
Due: none

Move old version history to separate file
  HISTORY.md
  README.md
Due: markdownlint

Update install.sh (and its instructions)
  README.md
  install.sh
Due: markdownlint

Minor documentation tweak
  README.md
Due: markdownlint

Update GitHub workflows
  .github/scripts/README.md
  .github/scripts/bins.d/README.md
  .github/scripts/bins.d/tdg
  .github/scripts/setup-pre-commit.sh
Due: markdownlint

Last-minute changes and notes for release v1.3.0 (#4)
  .github/scripts/README.md
  .github/scripts/bins.d/README.md
  .github/scripts/bins.d/tdg
  .github/scripts/setup-pre-commit.sh
  HISTORY.md
  README.md
  install.sh
  sysmon.sh
Due: markdownlint

Tag release 1.3.0 in sysmon.sh
  sysmon.sh
Due: none

Add `SYSMON_HA_BASE`
  sysmon.sh
Due: none

Use `intel_gpu_top` for Intel N100 (GPU) stats
  sysmon.sh
Due: none

Turn `object_id` into `default_entity_id`
  sysmon.sh
Due: none

Report correct temperature for Intel N100
  sysmon.sh
Due: none

Minor tweaks
  sysmon.sh
Due: none

Better temporary-file handling
  sysmon.sh
Due: none

Fix two (potentially nasty) bugs
  sysmon.sh
Due: none

Minor correction to the linter-workflow
  .github/workflows/linter.yml
Due: yamllint-other

Close fds before deleting temporary-directory
  sysmon.sh
Due: none

Some further (Copilot-inspired) enhancements
  sysmon.sh
Due: none

Add support for Intel N100 (LattePanda Mu) (#7)
  .github/workflows/linter.yml
  sysmon.sh
Due: yamllint-other

Require `SYSMON_HA_BASE` for `entity-picture`
  sysmon.sh
Due: none

Bump to version `1.3.1`
  sysmon.sh
Due: none

Add fan speed monitoring (via IT8613)
  sysmon.sh
Due: none

Cleanup Bash conditionals
  sysmon.sh
Due: none

Bump version to `1.4.0`
  sysmon.sh
Due: none

Add fan speed monitoring (via IT8613) (#8)
  sysmon.sh
Due: none

Remove `SYSMON_HA_VERSION`
  sysmon.sh
Due: none

Modernise the install-script
  README.md
  install.sh
Due: markdownlint

Path conditions:
  markdownlint: any of: (?i)(\.md|(^|/)(TODO|NOTES))$
  yamllint-other: any of: \.(yaml|yml)$
